* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%)
    
}

.main {
    background-color: white;
    width: min(90%, 800px);
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    font-size: 13px;
}

.drawer-img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    padding: 2.5em;
    padding-bottom: 2em;
}

.info {
    line-height: 22px;
    color: hsl(212, 23%, 69%)
}

h3 {
    margin-bottom:1em;
    color: hsl(217, 19%, 35%)
}

.avatar {
    border-radius: 50%;
    width: 50px;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: hsl(217, 19%, 35%);
    
}

.name {
    font-weight: 700;
    margin-bottom: 3px;
    margin-left: -20px;
}

.date {
    color: hsl(212, 23%, 69%);
    margin-left: -20px;
}

.sharebutton {
    /* background-color: red; */
}

.share {
    background-color: hsl(210, 46%, 95%);
    padding: 10px;
    border-radius: 50%;
}

/* .contacts {
    display: none;
} */



.new-share {
    width: 100%;
    background-color: hsl(217, 19%, 35%);
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

.new-share div {
    background-color: hsl(214, 17%, 51%);
    margin-left: auto;
    margin-right: 30px;
    border-radius: 50%;
    
}

.toggle-share {
    padding: 8px;
}

.new-share p {
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 2px;
    letter-spacing: 5px;
    text-transform:uppercase;
    color: hsl(212, 23%, 69%);
}
.share-icon {
    margin-left: 5px;
}

.twitter-icon {
    margin-left: 20px;
}

.pinterest-icon {
    margin-left: 20px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.triangle {
    /* width: 25px;
    height: 25px; */
    /* background-color: yellow; */

    border-width: 15px;
    border-top-color: hsl(217, 19%, 35%);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-top: -1px;
    border-style: solid;
    display: none;
}
@media (min-width: 550px) {
  
    .container {
        display: flex;
    }

    .drawer-img{
        width: 100%;
        height: 100%;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .main {
        /* height: 264px; */
        position: relative;
    }

    /* .content {
        height: auto;
    } */



    .new-share {
        width: 220px;
        background-color: hsl(217, 19%, 35%);
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;
        position: absolute;
        padding: 10px;
        top: 120px;
        right: -50px;
        /* top: 200px;
        left: 650px; */
    }

    .new-share p {
        margin-left: 10px;
        /* background-color: red; */
    }

    .pinterest-icon {
        margin-left: 15px;
    }

    .display {
        display: flex;
    }

    .contacts {
        display: flex;
    }

    .toggle-share {
        display: none;
    }

    .triangle {
        position: absolute;
        display: block;
        top: 160px;
        right: 40px;
        
        
    }

    .btn-color {
        background-color: hsl(214, 17%, 51%);
    }

    .filer {
        filter: sepia(100%) saturate(323%) hue-rotate(174deg) brightness(300%) contrast(100%);
    }

  
}



